/**/controller_manager:
  ros__parameters:
    update_rate: 1000

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    gripper_controller:
      type: position_controllers/JointGroupPositionController

/**/joint_state_broadcaster:
  ros__parameters:
    publish_all_states: true

/**/joint_trajectory_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity

/**/gripper_controller:
  ros__parameters:
    joints:
      - gripper_rh_r1
      - gripper_rh_r2
      - gripper_rh_l1
      - gripper_rh_l2
